
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding-bottom: 26px;
}

/* header */

.navbar-static-top {
    border-color: #E7E7E7;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    z-index: 8
}


/* footer */

.footer {
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    background-color: #c1c6ca;
    border-color: #E7E7E7;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    z-index: 10;

    .container {

         p {
             margin:0 !important;
             padding-top: 4px;
             text-color: #E7E7E7;
         }
    }

}

.pagination {
    margin-top: 0px;

    .active {
        span {
            background-color: #ddd;
            border-color: #ddd;
            color: #555;
        }
    }

     li {
            a {
                color: #636b6f;
                &:hover {
                    color: #fdbfcc;
                    text-decoration:none;
                }
            }
        }

}

/* page */
.root-page, .index-page, .categories-index-page {
    .page-list {

        .panel-body {
            padding-bottom:0;
        }

        .media-right {
            float: right;
        }
        a {
            color: #636b6f;
            &:hover {
                color: #fdbfcc;
                text-decoration:none;
            }
        }
        hr {
            margin-top: 0px;
            margin-bottom: 11px;
        }
        h5 {
            margin-top: 3px;
            margin-bottom: 2px;
        }


    }

}

/* 内容页 */
.article-content{
    .article-time {
        text-align: right;
    }
    .panel-body {
        hr {
            margin-top: 0px;
        }
    }

    pre {
        margin: 0 0 15px -15px;
        width: calc(100% + 30px);
        padding: 0px;
        border: 0px;
        border-radius: 0px;
    }

    .article-page {
        .pager {
            li {
                a {
                    border-radius: 9px;
                    color: #636b6f;
                    &:hover {
                        color: #fdbfcc;
                        text-decoration:none;
                    }
                }
            }


        }
    }
}

/* 后台登录页 */
.admin-login-page, .login-page{
    .panel-default {
        margin: auto;
        margin-top: 200px;
        width: 330px;
        height: auto;
    }

    .btn-primary {
        background-color: #E7E7E7;
        border-color: #E7E7E7;
    }

    .btn {
        width: 130px;
    }
}

/* 后台左侧导航栏 */
.leftnav {

    .nav {
        li {

            a {
                color: #636b6f;
                background-color: #636b6f36;
            }
        }
    }
    .nav-pills {
        li {
            .active {
                a{
                    background-color: rgb(204, 204, 204);
                }
            }
        }
    }

}

/* 后台文章列表页 */
.admin-articles-index-page, .admin-page, .admin-index-page{
    a {
        color: #636b6f;
        &:hover {
            color: #fdbfcc;
            text-decoration:none;
        }
    }
}

/*删除图片按钮*/

.del-img-btn {
    width: 16px;
    height: 16px;
    border: 0;
    background:url('/img/del.png')
}

/*修改图片按钮*/

.edit-img-btn {
    width: 16px;
    height: 16px;
    border: 0;
    background:url('/img/edit.png')
}