
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding-bottom: 26px;
    font-family: Helvetica Neue,NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
}

/* header */

.navbar-static-top {
    border-color: #E7E7E7;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    z-index: 8
}


/* footer */

.footer {
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    background-color: #c1c6ca;
    border-color: #E7E7E7;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    z-index: 10;

    .container {

         p {
             margin:0 !important;
             padding-top: 4px;
             text-color: #E7E7E7;
         }
    }

}

.pagination {
    margin-top: 0px;

    .active {
        span {
            background-color: #ddd;
            border-color: #ddd;
            color: #555;
        }
    }

     li {
            a {
                color: #636b6f;
                &:hover {
                    color: #fdbfcc;
                    text-decoration:none;
                }
            }
        }

}

/* page */
.root-page, .index-page, .categories-index-page, .categories-page {
    .page-list {

        .panel-body {
            padding-bottom:0;
        }

        .media-right {
            float: right;
        }
        a {
            color: #636b6f;
            &:hover {
                color: #fdbfcc;
                text-decoration:none;
            }
        }
        hr {
            margin-top: 0px;
            margin-bottom: 11px;
        }
        h5 {
            margin-top: 3px;
            margin-bottom: 2px;
        }


    }

}

/* 内容页 */
.article-content{
    .article-time {
        text-align: right;
    }
    // 内容
    .panel-body {
        color: #636b6f;
        padding: 15px 34px 15px 34px;
        font-size: 15px;
        hr {
            margin-top: 0px;
            border-top: 1px solid #d3e0e9;
            border-bottom: 1px solid rgba(211,224,233,.15);
        }

        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            margin: 0 0 1em;
            margin-top: 0;
            margin-bottom: 10px;
            line-height: 30px;
            font-size: 15px;
        }

        h2 {
            padding-bottom: .3em;
            font-size: 1.4em;
            line-height: 1.225;
            border-bottom: 1px solid #eee;
            margin: 20px 0;
            font-weight: 700;
        }

        h3 {
            font-size: 1.2em;
            line-height: 1.43;
            font-weight: 700
        }

        pre {
            margin: 1.5em -35px;
            border-radius: 0;
            padding: 1.5em 35px;
            background: #384548;
            code {
                background: transparent;
                display: block;
                padding: 0;
                margin: 0;
                overflow: initial;
                line-height: 24px;
                font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
                font-size: 15px;
                border: 0;
            }
        }

        blockquote {
            margin: 20px 0!important;
            background-color: #f5f8fc;
            padding: 1rem;
            color: #8796a8;
            border-left: none;
            p {
                margin: 0;
            }
        }

        table {
            width: 100%;
            overflow: auto;
            margin: 25px 0;
        }

        thead {
            display: table-header-group;
            vertical-align: middle;
            border-color: inherit;
        }

        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }

        table tr:nth-child(odd) {
            background-color:#fff;
        }
        table tr:nth-child(even) {
            background-color:#F5F5F5;
        }

        td,th {
            padding: 6px 13px;
            border: 1px solid #ddd;
            display: table-cell;
            vertical-align: inherit;
            font-size: 14px;
            line-height: 30px;
            text-align: left
        }


        img {
            max-width: 100%;
            margin: 10px auto 30px auto;
            display: block;
            border: 1px solid #ddd;
            box-shadow: 0 0 30px #ccc;
            cursor: -webkit-zoom-in;
            cursor: zoom-in;
        }


    }

    // 页码
    .article-page {
        .pager {
            li {
                a {
                    border-radius: 9px;
                    color: #636b6f;
                    &:hover {
                        color: #fdbfcc;
                        text-decoration:none;
                    }
                }
            }
        }
    }

    /* 回复列表 */

    // 回复时间
    .reply-time {
        color:#ccc;
        margin-left: 10px;
    }
    // 回复楼层
    .reply-num {
        color:#ccc;
        float:right;
    }


    /* 回复表单 */

    .reply-nickname{
        outline: none;
        border-width: 1px;
        border-style: inset;
        border-color: #d3e0e9;
        border-image: initial;
        border-top:none;
        border-left:none;
        border-right:none;
    }
    .reply-email{
        outline: none;
        border-width: 1px;
        border-style: inset;
        border-color: #d3e0e9;
        border-image: initial;
        border-top:none;
        border-left:none;
        border-right:none;
    }
    .reply-content {
        resize:none;
    }
}

// 遮罩层
.mask-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.85);
    z-index: 100;
    display: none;
}

// 放大图片
.large-pic {
    position: fixed;
    width: 60%;
    height: 80%;
    z-index: 101;
    margin: 0 auto;
    display: none;
    text-align: center;
}
#pic {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    cursor: zoom-out;
}

// 文章目录
.article-affix {
    display: none;
    ul {
        background: #fff;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #d3e0e9;
        width: 200px;
    }
    .active {
        background: #eaeaea;
        border-radius: 4px;
    }

    .subordinate {
        padding: 10px 15px 10px 30px;
    }

    li {
        a {
            border-radius: 4px;
            color: #636b6f;
            font-size: 13px;
            &:hover {
                text-decoration:none;
            }
        }
    }
}

/* 后台登录页 */
.admin-login-page, .login-page{
    .panel-default {
        margin: auto;
        margin-top: 200px;
        width: 330px;
        height: auto;
    }

    .btn-primary {
        background-color: #E7E7E7;
        border-color: #E7E7E7;
    }

    .btn {
        width: 130px;
    }
}

/* 后台左侧导航栏 */
.leftnav {

    .nav {
        li {

            a {
                color: #636b6f;
                background-color: #636b6f36;
            }
        }
    }
    .nav-pills {
        li {
            .active {
                a{
                    background-color: rgb(204, 204, 204);
                }
            }
        }
    }

}

/* 后台文章列表页 */
.admin-articles-index-page, .admin-page, .admin-index-page{
    a {
        color: #636b6f;
        &:hover {
            color: #fdbfcc;
            text-decoration:none;
        }
    }
}
/* 后台文章编辑页 */
.admin-articles-edit-page, .admin-articles-create-page{
    .editor-preview-side, .editor-preview-active-side, .editor-preview, .editor-preview-active {
        background: #fff;
        color: #636b6f;
        padding: 15px 34px 15px 34px;
        font-size: 15px;
        hr {
            margin-top: 0px;
            border-top: 1px solid #d3e0e9;
            border-bottom: 1px solid rgba(211,224,233,.15);
        }

        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            margin: 0 0 1em;
            margin-top: 0;
            margin-bottom: 10px;
            line-height: 30px;
            font-size: 15px;
        }

        h2 {
            padding-bottom: .3em;
            font-size: 1.4em;
            line-height: 1.225;
            border-bottom: 1px solid #eee;
            margin: 20px 0;
            font-weight: 700;
        }

        h3 {
            font-size: 1.2em;
            line-height: 1.43;
            font-weight: 700
        }

        pre {
            margin: 1.5em -35px;
            border-radius: 0;
            padding: 1.5em 35px;
            background: #384548;
            code {
                background: transparent;
                display: block;
                padding: 0;
                margin: 0;
                overflow: initial;
                line-height: 24px;
                font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
                font-size: 15px;
                border: 0;
            }
        }

        blockquote {
            margin: 20px 0!important;
            background-color: #f5f8fc;
            padding: 1rem;
            color: #8796a8;
            border-left: none;
            p {
                margin: 0;
            }
        }

        table {
            width: 100%;
            overflow: auto;
            margin: 25px 0;
        }

        thead {
            display: table-header-group;
            vertical-align: middle;
            border-color: inherit;
        }

        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
        }

        table tr:nth-child(odd) {
            background-color:#fff;
        }
        table tr:nth-child(even) {
            background-color:#F5F5F5;
        }

        td,th {
            padding: 6px 13px;
            border: 1px solid #ddd;
            display: table-cell;
            vertical-align: inherit;
            font-size: 14px;
            line-height: 30px;
            text-align: left
        }


        img {
            max-width: 100%;
            margin: 10px auto 30px auto;
            display: block;
            border: 1px solid #ddd;
            box-shadow: 0 0 30px #ccc;
            cursor: -webkit-zoom-in;
            cursor: zoom-in;
        }
    }
}

/*删除图片按钮*/

.del-img-btn {
    width: 16px;
    height: 16px;
    border: 0;
    background:url('/img/del.png')
}

/*修改图片按钮*/

.edit-img-btn {
    width: 16px;
    height: 16px;
    border: 0;
    background:url('/img/edit.png')
}